@import 'reset';
@import './mixin/RWD';


$purple1 :#8A82CC;
$purple : #ff00ff;
$orange :#FFA573;
$orange2 :#FF851B;
$orange3 :#FF8000;
$yellow : #ffff00;
$yellow2 : #ffff00;
$blue : #1ab7e7;
$red : #ff6768;
$white : #FFF;
$blue-green : #00ffff;
// 生產色
$green : #73d89a;
$green1 : green ;
$no : #A5A5A5;
$title: #333333;
$text: #666666;


$bg : #1B213B;
$bg2 : #343E59;
// $bgBox : #40475D;

$box : #2B2D3E;
$box2 : #262D47;

// 閒置色
$title2 : #ff6768;

// 陰影色
$br1 : #ABABAB;
$br2 : #242424;



body{
    // 背景色
    background: $box;
    border: 20px solid $bg;
    // 統一字型 FireFox 也能正常大小顯示
    font-family: "Times New Roman";

    .wrap{
        // 外推邊框高度 配合 JS 畫面大小調整
        margin: 0 auto;
        // background: $box;


        
        .content{
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .blue{
                width: 60px;
                height: 60px;
                background-color: blue;
                border-radius: 50%;
                position: absolute;
                transition: all 2s;
            }
            .red{
                width: 70px;
                height: 70px;
                background-color: red;
                border-radius: 50%;
                position: absolute;
                transition: all 2s;
            }
            .green{
                width: 80px;
                height: 80px;
                background-color: green;
                border-radius: 50%;
                position: absolute;
                transition: all 2s;
            }
            .white{
                background-color: $white;
            }
            .purple{
                background-color: $purple;
            }
            .yellow{
                background-color: $yellow;
            }
            .blue-green{
                background-color: $blue-green;
            }
            .Z1{
                z-index: 100;
            }
            .Z2{
                z-index: 99;
            }
            .Z3{
                z-index: 98;
            }

        }

    
        .notData{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #000;
            z-index: 999;
            min-width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            p{
                padding-bottom: 20px;
                font-size: 150px;
                text-align: center;
                font-weight: bold;
                color: $title2;
                transition: all 0.3s;
                &:hover{
                    transform: scale(1.1);
                }
                // 依大小來自動推擠RWD
                @include mobile-1850{
                    font-size: 130px;
                }
                @include mobile-1700{
                    font-size: 120px;
                }
                @include mobile-1600{
                    font-size: 110px;
                }
                @include mobile-1300{
                    font-size: 100px;
                }
                @include mobile-1100{
                    font-size: 80px;
                }
                @include mobile-914{
                    font-size: 60px;
                }
                @include mobile-767{
                    font-size: 50px;
                }
                @include mobile-620{
                    font-size: 40px;
                }
                @include mobile-480{
                    font-size: 30px;
                }
            }
            &.no{
                display: none;
            }
        }
    }
}

