@import 'reset';
@import './mixin/RWD';


$purple1 :#8A82CC;
$purple : #ff00ff;
$orange :#FFA573;
$orange2 :#FF851B;
$orange3 :#FF8000;
$yellow : #ffff00;
$yellow2 : #ffff00;
$blue : #1ab7e7;
$red : #ff6768;
$white : #FFF;
$blue-green : #00ffff;
// 生產色
$green : #73d89a;
$green1 : green ;
$no : #A5A5A5;
$title: #333333;
$text: #666666;


$bg : #1B213B;
$bg2 : #343E59;
// $bgBox : #40475D;

$box : #2B2D3E;
$box2 : #262D47;

// 閒置色
$title2 : #ff6768;

// 陰影色
$br1 : #ABABAB;
$br2 : #242424;



body{
    // 背景色
    background: $box;
    border: 20px solid $bg;
    // 統一字型 FireFox 也能正常大小顯示
    font-family: "Times New Roman";

    .wrap{
        // 外推邊框高度 配合 JS 畫面大小調整
        margin: 0 auto;
        // background: $box;


        
        .content{
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .blue{
                width: 1px;
                height: 1px;
                background-color: blue;
                border-radius: 50%;
                position: absolute;
                transition: all 2s;
                box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
            }
            .red{
                width: 1px;
                height: 1px;
                background-color: red;
                border-radius: 50%;
                position: absolute;
                transition: all 2s;
                box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
            }
            .green{
                width: 1px;
                height: 1px;
                background-color: green;
                border-radius: 50%;
                position: absolute;
                transition: all 2s;
                box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
            }
            .white{
                background-color: $white;
            }
            .purple{
                background-color: $purple;
            }
            .yellow{
                background-color: $yellow;
            }
            .blue-green{
                background-color: $blue-green;
            }
            .Z1{
                z-index: 100;
            }
            .Z2{
                z-index: 99;
            }
            .Z3{
                z-index: 98;
            }

        }

        
        .labelBox{
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;

            // 防止反白
            -webkit-user-select:none;
            -moz-user-select:none;
            -o-user-select:none;
            user-select:none;

            .miniBox{
                margin-left: 25px;
                // background: #FFF;
                z-index: 100;
                width: 15%;
                height: 40%;
                min-width: 200px;
                min-height: 350px;
                border-radius: 15px;
                border: $green solid 8px;

                .mini{
                    height: 33%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin-left: 5%;
                    
                    .ball{
                        // border: #FFF solid 5px;
                        border-radius: 50%;
                        width: 70px;
                        height: 70px;
                        transition: all 2s;
                        box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
                    }
                    .text{
                        color: #FFF;
                        font-size: 36px;
                        width: 60%;
                        text-align: center;
                    }

                    .red{
                        background-color: red;
                    }
                    .blue{
                        background-color: blue;
                    }
                    .green{
                        background-color: green;
                    }
                    .white{
                        background-color: $white;
                    }
                    .purple{
                        background-color: $purple;
                    }
                    .yellow{
                        background-color: $yellow;
                    }
                    .blue-green{
                        background-color: $blue-green;
                    }
                }
            }
        }

        .clockBox{
            position: fixed;
            bottom: 0;
            right: 0;

            // 防止反白
            -webkit-user-select:none;
            -moz-user-select:none;
            -o-user-select:none;
            user-select:none;
            .clock{
                width: 370px;
                height: 135px;
                font-family: 'Share Tech Mono', monospace;
                color: #ffffff;
                text-align: center;
                // transform: translate(-10%, -20%); //因截圖會跑版 改用其他方式達成
                color: #daf6ff;
                text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
                .time {
                    letter-spacing: 0.05em;
                    font-size: 60px;
                    padding: 5px 0;
                }
                .date {
                    letter-spacing: 0.1em;
                    font-size: 32px;
                }
            }
        }

        .screenshot{
            position: fixed;
            top: 0%;
            right: 0%;
            .screenshotBtn{
                width: 80px;
                height: 80px;
                background: url(../images/screenshot.png) no-repeat;
                transform: translate(-20%, 20%);
                background-repeat: no-repeat; // 讓圖片不重複
                background-position: center; // 讓圖片對齊中心
                background-size: 60px;
                object-fit: contain;
                transition: all 0.25s;
                &:hover{
                    background-size: 70px;
                    cursor: pointer
                }
                &:active{
                    background-size: 60px;
                    transition: all 0.1s;
                }

            }
        }

        .notData{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #000;
            z-index: 999;
            min-width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            p{
                padding-bottom: 20px;
                font-size: 150px;
                text-align: center;
                font-weight: bold;
                color: $title2;
                transition: all 0.3s;
                &:hover{
                    transform: scale(1.1);
                }
                // 依大小來自動推擠RWD
                @include mobile-1850{
                    font-size: 130px;
                }
                @include mobile-1700{
                    font-size: 120px;
                }
                @include mobile-1600{
                    font-size: 110px;
                }
                @include mobile-1300{
                    font-size: 100px;
                }
                @include mobile-1100{
                    font-size: 80px;
                }
                @include mobile-914{
                    font-size: 60px;
                }
                @include mobile-767{
                    font-size: 50px;
                }
                @include mobile-620{
                    font-size: 40px;
                }
                @include mobile-480{
                    font-size: 30px;
                }
            }
            &.no{
                display: none;
            }
        }
    }

    // 因為截圖會將IMG元素創建，必須隱藏 或使用偽元素
    img{
        display: none;
    }
}

